<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li routerLinkActive="active"><a class="nav-link" routerLink="/recipes">Recipe</a></li>
                <li routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a style="cursor: pointer;" class="dropdown-toggle nav-link" role="button" id="dropdownMenu" data-toggle="dropdown">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>    
</nav>
